body{
	background: #2980B9;

}

#tre{
	background: #1F618D;
	color: #fff;
	width: 80px;
	height: 30px;
	position: absolute;
	top: 0;
	margin-left: 10px;
	margin-right: 10px;
} 
#bus{
	background: #1F618D;
	color: #fff;
	width: 80px;
	height: 30px;
	position: absolute;
	top: 0;
	margin-left: 10px;
	margin-right: 10px;
}
#fa {
	background: #1F618D;
	color: #fff;
	width: 80px;
	height: 30px;
	position: absolute;
	top: 0;
	margin-left: 10px;
	margin-right: 10px;
}
#mas{
	background: #1F618D;
	color: #fff;
	width: 80px;
	height: 30px;
	position: absolute;
	top: 0;
	margin-left: 10px;
	margin-right: 10px;
} 
#rel{
	background: #1F618D;
	color: #fff;
	width: 80px;
	height: 30px;
	position: absolute;
	top: 0;
	margin-left: 10px;
	margin-right: 10px;
}
#cam{
	background: #1F618D;
	color: #fff;
	width: 80px;
	height: 30px;
	position: absolute;
	top: 0;
	margin-left: 10px;
	margin-right: 10px;
}
i{
	margin-left: 15px;
	margin-right: 7.5px;
}
#der{
	background: #1F618D;
	color: #fff;
	width: 100px;
	height: 30px;
	position: absolute;
	top: 0;
	margin-left: 550px;
	margin-right: 10px;
}
#fa{
	background: #1F618D;
	color: #85C1E9;
	width: 500px;
	height: 30px;
	position: absolute;
	top: 0;
	margin-left: 220px;
	margin-right: 20px;
}